@use '../abstracts/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; // Hilangkan highlight biru di HP
}

body {
    font-family: $font-main;
    background-color: #020617; // Warna latar belakang di luar container HP
    color: $text-primary;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

// Container Mobile-Only (Membatasi lebar tampilan seperti HP)
.mobile-container {
    width: 100%;
    max-width: 480px; 
    background-color: $bg-primary;
    min-height: 100vh;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    overflow-x: hidden;
}